/*------ full body rules ------ */

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*------------ head section style ---------- */

.head-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin-left: 5%;
  margin-top: 5%;
  border-radius: 30px;
  background-color: #161616;
  margin-bottom: 200px;
}
.head-section img {
  height: 500px;
  width: 450px;
  margin-left: 25px;
}

.head-text {
  width: 50%;
}
.head-text h1 {
  font-size: 50px;
  font-weight: 700;
  margin: 0;
  color: white;
}
.head-text p {
  color: white;
  margin-bottom: 30px;
}
.watch-button {
  border: none;
  text-decoration: none;
  font-size: 16px;
  color: white;
  padding: 10px 15px;
  background-color: #dd0000;
  border-radius: 5px;
  box-shadow: inset 0 0 0 0 yellow;
  transition: ease-out 0.8s;
  outline: none;
}
.watch-button:hover {
  box-shadow: inset 300px 0 0 0 yellow;
  cursor: pointer;
  color: #000;
}
/*---------- head section ends----------- */

/* ------------ Navigation Area  Starts-----------*/

.information-box {
  margin-top: 20px;
  display: flex;
  margin-bottom: 100px;
  justify-content: space-between;
  margin-left: 50px;
}
.information-box img {
  width: 40%;
  border-radius: 10px;
  margin-right: 100px;
}
.match-information {
  display: flex;
  flex-direction: column;
  min-width: 270px;
  height: 270px;
  padding: 20px;
  margin-left: 25px;
  background-color: black;
  border-radius: 15px;
}
.match-information a {
  text-align: center;
  text-decoration: none;
  padding: 15px 20px;
  border-radius: 10px;
  margin-top: 20px;
}
.blog-btn,
.upcoming-btn {
  background-color: white;
  color: black;
}
.group-btn {
  background-color: #e04747;
  color: white;
}
.upcoming-btn:hover {
  background-color: yellow;
  color: black;
  cursor: pointer;
  transition: 1s;
}
.group-btn:hover {
  background-color: yellow;
  color: black;
  cursor: pointer;
  transition: 1s;
}
.blog-btn:hover {
  background-color: yellow;
  color: black;
  cursor: pointer;
  transition: 0.5s;
}

/* ---------- Navigation Area Ends ----------- */

/*--------- Group Area -------- */

.group-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 60px;
}
.all-groups {
  margin-bottom: 200px;
}
.all-groups h2 {
  font-size: 40px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 80px;
}

.group-name {
  color: lightgray;
  height: 320px;
  width: 320px;
  margin-left: 55px;
  text-align: center;
  background-color: black;
  border-radius: 10px;
}
.group-name a {
  color: lightblue;
  margin: 5px;
  text-decoration: none;
  font-weight: 500;
  display: block;
  text-align: center;
  align-items: center;
  font-size: 20px;
  padding-top: 10px;
}
.group-name a:hover {
  color: yellow;
}
span {
  color: red;
}

.view-all{
  text-align: center;
  font-size: 20px;
  position: relative;
  bottom:90px;
  visibility: hidden;
}
.view-all a{
  text-decoration: none;
  color:white;
  background-color: #dd0000;
  padding: 15px;
  margin:5px;
  border-radius: 5px;
}
.view-all a:hover{
  background-color:yellow;
  color:black;
  transition: 0.8s;
}




/*--------- Group Area Ends -------- */

/* ------Footer Starts------ */
footer {
  width: 100%;
  height: 380px;
  background-color: black;
}
footer h1 {
  color: white;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  padding-top: 70px;
}
footer hr {
  width: 65%;
}

.footer-area {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  justify-content: space-evenly;
}
.footer-area a {
  color: #b9b9b9;
  text-decoration: none;
}
.footer-area a:hover {
  border-bottom: 1px solid yellow;
}
.social-icons {
  text-align: center;
  margin-top: 50px;
}
.social-icons a {
  text-decoration: none;
  font-size: 30px;
  margin: 0 25px;
  color: white;
}
.social-icons a :hover {
  border-bottom: 3px solid yellow;
}
/*------------ Footer Style Ends------------ */



/* ---------- Responsive For Mobile Devices----- */

@media screen and (max-width: 576px) {
  .head-text p {
    text-overflow: ellipsis;
    font-size: 3vw;
  }

  .head-section {
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    margin-bottom: 70px;
  }
  .head-section img {
    width: 80%;
    height: 60%;
    margin-top: 20px;
  }

  .head-section h1 {
    font-size: 7vw;
  }

  .watch-button {
    font-size: 3vw;
  }
  .information-box {
    display: flex;
    flex-direction: column;
  }
  .match-information {
    background-color: white;
    width: 80%;
  }
  .upcoming-btn,
  .group-btn,
  .blog-btn {
    border: 1px solid gray;
  }
  .information-box img {
    width: 100%;
  }
  .group-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .footer-area {
    display: flex;
    flex-direction: column;
    column-gap: 20px;
    padding: 0;
    margin-top: 0px;
  }
  .footer h1 {
    margin-top: 0;
    padding-top: 0;
  }
  .footer-info {
    text-align: center;
  }

  .social-icons {
    position: relative;
    bottom: 45px;
  }



}


  /*-------------- Responsive for tablet------------- */

  @media screen and (min-width:577px) and (max-width:992px) {


    .head-text p{
      text-overflow:ellipsis;
      font-size: 3vw;
    }
  
    .head-section{
      flex-wrap: wrap;
      align-items: center;
      text-align: center;
      margin-bottom: 70px;
    }
    .head-section img{
      width: 80%;
      height: 80%;
      margin-top:20px;
    }
  
    .head-section h1 {
      font-size: 7vw;
    }
  
    .watch-button {
      font-size: 3vw;
    }
    .information-box{
      display: flex;
      flex-direction:column;
    }
    .match-information{
      background-color:white;
      width:auto;
    }
    .upcoming-btn, .group-btn, .blog-btn{
      border:1px solid gray;
    }
    .information-box img {
      width: 100%;
    }
    .group-list {
      display: grid;
        grid-template-columns: repeat(2, 1fr);}

    .view-all{
      visibility: visible;
    }
  
  
  .footer-area{
    display: flex;
    flex-direction: column;
    column-gap: 20px;
    padding: 0;
    margin-top:0px;
  }
  .footer h1{
    margin-top: 0;
    padding-top: 0;
  }
  .footer-info{
    text-align: center;
  }
  
  .social-icons{
    position:relative;
    bottom:45px;
      }

    }

/*----------- Media Queries End----------- */
